<div class="container mt-3">
    <h2>Send Money</h2>
      <hr>
        <form  (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="ReceiverAccount">Account Number</label>
                <input type="password" name="ReceiverAccount"   id="ReceiverAccount"  class="form-control" [(ngModel)]="transaction.recevieraccountnumber">   
            </div>
            
            <div class="form-group">
                <label for="ReceiverAccount">Re-Enter Account Number</label>
                <input type="text" name="ReceiverAccount"   id="ReceiverAccount"  class="form-control" >
                
            </div>
            <div class="form-group">
                <label for="userName">Account Holder Name</label>
                <input type="text" name="userName"  id="userName"  class="form-control" [(ngModel)]="transaction.receivername">
            </div>
            <div class="form-group">
                <label for="amounttosend">Enter Amount</label>
                <input type="text" name="amounttosend"   id="amounttosend"  class="form-control" [(ngModel)]="transaction.senderamount">     
            </div>
            <div class="form-group">
                <label for="epin">E-pin</label>
                <input type="password" name="epin"  id="epin"  class="form-control" >
            </div>
            <div class="form-group">
                <label for="note">Note</label>
                <textarea class="form-control" name="note" placeholder="Leave a text here" id="floatingTextarea2" style="width: 1000px;" [(ngModel)]="transaction.sendernotes"></textarea>
                
            </div>
           <br>
        
          
            <br>
            <button class="btn btn-primary" >Send</button>
        
        </form>

        <hr>

        <h2>Deposit Money</h2>
        <hr>
          <form  (ngSubmit)="depositSubmit()">
              <div class="form-group">
                  <label for="userName">Account Holder Name</label>
                  <input type="text" name="userName"  id="userName"  class="form-control" value="{{user.username}}">
              </div>
              <div class="form-group">
                  <label for="ReceiverAccount">Account Number</label>
                  <input type="text" name="ReceiverAccount"   id="ReceiverAccount"  class="form-control" value="{{user.useraccountnumber}}">  
              </div>
              <div class="form-group">
                <label for="amounttosend">Enter Amount</label>
                <input type="text" name="amounttosend"   id="amounttosend"  class="form-control" [(ngModel)]="transaction.senderamount">     
            </div>
            <div class="form-group">
                <label for="epin">E-pin</label>
                <input type="password" name="epin"  id="epin"  class="form-control" >
            </div>
            <div class="form-group">
                <label for="note">Note</label>
                <textarea class="form-control" name="note" placeholder="Leave a text here" id="floatingTextarea2" style="width: 1000px;" [(ngModel)]="transaction.sendernotes"></textarea>
                
            </div>
             <br>
              <br>
              <button class="btn btn-primary" >Send</button>
          </form>

          <hr>
          <h2>Withdraw Money</h2>
        <hr>
          <form  (ngSubmit)="WithdrawSubmit()">
              <div class="form-group">
                  <label for="userName">Account Holder Name</label>
                  <input type="text" name="userName"  id="userName"  class="form-control" value="{{user.username}}">
              </div>
              <div class="form-group">
                  <label for="ReceiverAccount">Account Number</label>
                  <input type="text" name="ReceiverAccount"   id="ReceiverAccount"  class="form-control" value="{{user.useraccountnumber}}">  
              </div>
              <div class="form-group">
                <label for="amounttosend">Enter Amount</label>
                <input type="text" name="amounttosend"   id="amounttosend"  class="form-control" [(ngModel)]="transaction.senderamount">     
            </div>
            <div class="form-group">
                <label for="epin">E-pin</label>
                <input type="password" name="epin"  id="epin"  class="form-control" >
            </div>
            <div class="form-group">
                <label for="note">Note</label>
                <textarea class="form-control" name="note" placeholder="Leave a text here" id="floatingTextarea2" style="width: 1000px;" [(ngModel)]="transaction.sendernotes"></textarea>
                
            </div>
             <br>
              <br>
              <button class="btn btn-primary" >Send</button>
          </form>
       
        <router-outlet></router-outlet>  
    </div>
  

  
  
  
  
  