<nav class="navbar navbar-light bg-info ">
    <div class="container-fluid">
      <div class="navbar-brand align-item-center d-flex">
        <i style="font-size: 35px;" class="fa-solid fa-globe"></i>
        <strong style="font-size: 25px;">&nbsp;ICIN BANK</strong>
      </div>
     
      
     
      

      
      <button class="btn btn-info">
        <i style="font-size: 20px; color:black" class="fa-solid fa-user fa-flip" routerLink="/profile"></i>
      </button>
     

    </div>
  </nav>
<router-outlet></router-outlet>

  