<div class="container col mt-4" >

    <h2>My Profile</h2>
    <hr>
    <form class="row g-3 needs-validation" novalidate>
        <div class="col-md-4">
          <label for="validationCustom01" class="form-label">Name</label>
          <input type="text" class="form-control" id="validationCustom01" value={{user.username}} required >
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-md-4">
          <label for="validationCustom02" class="form-label">Account Number</label>
          <input type="text" class="form-control" id="validationCustom02" value={{user.useraccountnumber}} required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-md-4">
          <label for="validationCustomUsername" class="form-label">Account Type</label>
          <div class="input-group has-validation">
            <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required value={{user.productcode}}>
            <div class="invalid-feedback">
              Please choose a username.
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <label for="validationCustom03" class="form-label">Mobile No</label>
          <input type="text" class="form-control" id="validationCustom03" required value={{user.mobilenumber}}>
          <div class="invalid-feedback">
            Please provide a valid city.
          </div>
        </div>
        <div class="col-md-3">
            <label for="validationCustom05" class="form-label">Account Currency</label>
            <input type="text" class="form-control" id="validationCustom05" required value={{user.accountcurrency}}>
            <div class="invalid-feedback">
            Please select a valid state.
          </div>
        </div>
        <div class="col-md-3">
          <label for="validationCustom05" class="form-label">Account Balance</label>
          <input type="text" class="form-control" id="validationCustom05" required value={{user.amountdeposited}}>
          <div class="invalid-feedback">
            Please provide a valid zip.
          </div>
        </div>
        <div class="col-md-3">
            <label for="validationCustom05" class="form-label">City</label>
            <input type="text" class="form-control" id="validationCustom05" required value={{user.city}}>
            <div class="invalid-feedback">
              Please provide a valid zip.
            </div>
          </div>
          <div class="col-md-3">
            <label for="validationCustom05" class="form-label">State</label>
            <input type="text" class="form-control" id="validationCustom05" required value={{user.state}}>
            <div class="invalid-feedback">
              Please provide a valid zip.
            </div>
          </div>
          <div class="col-md-3">
            <label for="validationCustom05" class="form-label">Zip</label>
            <input type="text" class="form-control" id="validationCustom05" required value={{user.pincode}}>
            <div class="invalid-feedback">
              Please provide a valid zip.
            </div>
          </div>
          <div class="col-12">
            <button class="btn btn-danger" (click)="logout()">Logout</button>
          </div>
       
      </form>
</div>